body {
    font-family: 'VT323', monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #F4E0AF;
}


header {
    width: 100%;
    height: 10%;
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
    background-color: #1B1833;
    top: 0;
    margin-bottom: 1.25rem;
}

.userDiv {
    display: flex; 
    align-items: center; 
    gap: 0.5rem; 
    margin-right: 5%;
}

#user {
    width: 3rem; 
    height: 3rem;
}

.userDiv p {
    font-size: 1.5rem; 
    color: #e8eaed;
    font-family: Arial, Helvetica, sans-serif;
}

#username {
    margin: 0; 
    margin-right: 10%;
}

.game-container {
    max-width: 50rem;
    margin: 3.125rem auto;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.6);
    background-image: url('media/grassy-road.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 0.125rem solid #004080;
}

h1 {
    text-align: center;
    color: #0c7025;
    margin-top: 1.25rem;
    font-size: 3rem;
    text-shadow: 0.125rem 0.125rem 0 #002209;
}

label {
    font-size: 1.125rem;
    font-weight: bold;
    color: #002209;
}

input {
    width: 25%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 0.125rem solid #002209;
    border-radius: 0.25rem;
    background-color: #e6f7ff;
    color: #0c7025;
}

button {
    background-color: #A84459;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 0.4375rem 1.5625rem;
    border: 0.125rem solid #7c2538;
    border-radius: 0.25rem;
    cursor: pointer;
    font-family: 'VT323', monospace;
    text-transform: uppercase;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.4);
    transition: transform 0.3s, background-color 0.3s;
}

button:hover {
    background-color: #9b3249;
    transform: scale(1.05);
}

.road {
    position: relative;
    width: 100%;
    height: 15.625rem;
    margin: 1.25rem 0;
    overflow: hidden;
}

.chicken {
    position: absolute;
    max-height: 5.625rem;
    max-width: 5.625rem;
    top: 4.375rem;
    left: 0;
    transition: left 0.5s;
}

.chicken img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info p {
    margin: 0.625rem 0;
    font-size: 1.3125rem;
    color: #fafafa;
    text-shadow: 0.0625rem 0.0625rem 0 #00330b;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 0.625rem;
    margin-top: 1.25rem;
}

#boulder {
    position: absolute;
    top: -6.25rem;
    left: 50%;
    width: 7.8125rem;
    height: 7.8125rem;
    background-image: url('boulder.png');
    background-size: cover;
    display: none;
    transform: translateX(-50%);
    animation-timing-function: ease-in;
    z-index: 2;
}

@keyframes fall {
    from {
        top: -6.25rem;
        opacity: 1;
    }
    to {
        top: 3.75rem;
        opacity: 1;
    }
}
#info {
    display: inline-block;
    margin-top: 0;
    margin-right: 1rem;
    font-size: 1.8rem;
    color: #ffffff;
    background-color: #1B1833;
    padding: 0.5rem;
    border-radius: 50%;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.2);
    vertical-align: middle;
    text-align: center;
}

#info:hover {
    background-color: #0d0c1a;
    cursor: pointer;
}

#exit {
    display: inline-block;
    background-color: #1B1833;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1.25rem;
    font-size: 1.5rem;
    font-family: 'VT323', monospace;
    text-transform: uppercase;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.2);
    vertical-align: middle;
}

#exit:hover {
    background-color: #0d0c1a;
    cursor: pointer;
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center; 
    align-items: center; 
}

.modal-content {
    background-color: white;
    margin: 10% auto; 
    padding: 1.25rem;
    border: 0.0625rem solid #888;
    width: 40%;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    text-align: left;
}

.modal-content h2 {
    font-size: 2rem;
    margin: 1.5625rem;
}

.modal-content p, ul,  li {
    font-size: 1.5rem;
    margin: 1.5625rem;
}

.close {
    color: #aaa;
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#resultModal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 2000;
    animation: fadeIn 0.5s ease-in-out;
}

.resultModal-content {
    background: #2b2b2b;
    color: #6d6a8a;
    padding: 2.5rem;
    width: 25rem;
    max-width: 25rem;
    text-align: center;
    border: 0.1875rem solid #4d4d4d;
    border-radius: 0.9375rem;
    position: relative;
    box-shadow: 0 0.9375rem 2.5rem rgba(0, 0, 0, 0.9);
    animation: popIn 0.5s ease-out;
}

.resultModal-content .close {
    position: absolute;
    top: 0.625rem;
    right: 0.9375rem;
    font-size: 1.5625rem;
    color: #6d6a8a;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.resultModal-content .close:hover {
    color: #47445c;
}

.resultModal-content h2 {
    font-size: 2.1875rem;
    margin-bottom: 0.9375rem;
    text-shadow: 0.125rem 0.125rem 0.3125rem #000000;
}

.resultModal-content p {
    font-size: 1.5625rem;
    margin: 1.25rem 0;
    color: #c2c2c2;
    text-shadow: 0.0625rem 0.0625rem 0.1875rem #000000;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes popIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.disabled {
    cursor: not-allowed !important;
    opacity: 0.6 !important;
    transition: none !important;
}

html {
    font-size: 16px;
}

@media (min-width: 3000px) {
    html {
        font-size: 30px;
    }
}

@media (min-width: 5000px) {
    html {
        font-size: 40px;
    }
}

@media (max-width: 700px) {
    html {
        font-size: 10px; 
    }
}